@import url("tf-base.css");

.type {
    padding: 0.25rem;
    line-height: 0.75rem;
    font-size: 0.625rem;
}

.activity {
    background-color:  var(--tf-secondary-main);
}

.poi {
    background-color: var(--tf-tertiary-main);
}