/* CARTE EXEMPLE */
.carte {
    display: flex;
    font-family: 'Nunito';
    max-width: 36rem;
    min-width: 24rem;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 16px #00000040;
}

.carte>.image {
    flex-shrink: 0;
    width: 12rem;
    height: 17.5rem;
}

.carte>.detail {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0.5rem;
}

.detail>.titre {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
}

.detail>p {
    margin-top: 0.25rem;
}

.adresse {
margin-bottom: 0.125rem;
}

.detail>.budget {
    margin-bottom: 0.125rem;
}

.detail>.categories {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.chip {
    padding: 0.25rem;
    line-height: 0.75rem;
    font-size: 0.625rem;
    color: white;
}

.poi {
    background-color: #4CA7DE;
}

.categorie {
    background-color: #F2BF41;
}

.abstract {
    flex: 1;
}

.bouton {
    padding: 0.5rem 1rem;
    background-color: #E76B2D;
    border-radius: 30px;
    border: #ffffff;
    color: #ffffff;
    text-align: center;

}

.actions {
    justify-content: right;
    display: flex;
    padding-right: 0.5rem;
}




/* LES 10 CARTES */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activity {
    margin: 1rem;
    max-width: 36rem;
    min-width: 24rem;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 16px #00000040;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
}

/* .activity > img {
    flex-shrink: 0;
    width: 12rem;
    height: 17.5rem;
} */

.activity > h2 {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    margin-bottom: -5px;
}

i {
    color: black;
}

.activity>.address {
    margin-bottom: 0.125rem;
    padding: 0.5rem;
    margin-bottom: -5px;
}

.activity>.cost {
    margin-bottom: 0.125rem;
    padding: 0.5rem;
    margin-bottom: -5px;
}



.chip1 {
    
    padding: 0.25rem;
    line-height: 0.75rem;
    font-size: 0.625rem;
    color: white;
    background-color: #4CA7DE;
    margin-right: 32rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
}

.chip2 {
    position: relative;
    bottom: 24px;
    left: 70px;
    align-items: center;
    padding: 0.25rem;
    line-height: 0.75rem;
    font-size: 0.625rem;
    color: white;
    background-color: #F2BF41;
    margin-right: 33rem;
    margin-bottom: 0.25rem;
}

.activity-abstract {
    flex: 1;
    padding: 0.5rem;
    margin-bottom: -5px;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #E76B2D;
    border-radius: 30px;
    border: #ffffff;
    color: #ffffff;
    text-align: center;
    margin: 0.5rem;
    align-self: flex-end;
}