body{
  font-family: Nunito, Helvetica, sans-serif;
}
.filter-button {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
}
.filter-button:hover {
  background-color: #f5f5f5;
}
.buttons,
h1 {
  margin-left: 5.2rem;
}
/* price card */

.price-card {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  width: 25rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  left: 5.8rem;
  position: absolute;
  z-index: 2;
}

.price-card p {
  font-weight: bold;
}

.price-card label {
  display: contents;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}

.price-card input[type='number'] {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.price-card .currency-toggle {
  text-decoration: underline;
  cursor: pointer;
}

.currency-dropdown {
  margin-top: 10px;
  margin-bottom: 10px;
}

.currency-dropdown select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



/* SEARCH-BAR */
.search-bar {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-activities {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

.button-search {
  background-color: #2c53ff;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#button-search:hover {
  background-color: #45a049;
}

/* Language */

.language-card {
  margin-left: 5.9rem;
  width: 28rem; /* Ajustez la largeur si nécessaire */
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  left: 5.8rem;
  position: absolute;
  z-index: 2;
  column-count: 2; /* Afficher les langues en deux colonnes */
  column-gap: 1rem; /* Espace entre les colonnes */
}

.language-card label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.language-card input[type='checkbox'] {
  margin-right: 5px;
}



/* duration */

.duration-card {
  margin-left: 13.9rem;
  width: 16rem;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  left: 5.8rem;
  position: absolute;
  z-index: 2;
}

.duration-card label {
  display: block;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  font-weight: bold;
}

.duration-card input[type='checkbox'] {
  margin-right: 5px;
}

/* Timeframe */

.Timeframe-card {
  margin-left: 20.8rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 17.5rem;
  left: 5.8rem;
  position: absolute;
  z-index: 2;
}

.Timeframe-card label {
  display: block;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  font-weight: bold;
}

.Timeframe-card input[type='checkbox'] {
  margin-right: 5px;
}

/* filter */

.filter-button2 {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
  float: right;
  margin-right: 5.2rem;
}
.filter-button2:hover {
  background-color: #f5f5f5;
}

.filter-card p {
  font-weight: bold;
}

.filter-card div {
  margin-bottom: 10px;
}

.filter-card label {
  margin-left: 5px;
}

.filter-card button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}

.filter-card button:hover {
  background-color: #45a049;
}

#filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0);
  width: 34.8rem;
}
.filter-title{
  font-size: 20px;
  font-weight: bold;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-card-content {
  background-color: #fff;
  padding-bottom: 10px;
  width: 39rem;
  height: 51rem;
  z-index: 9900;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}
#filter-modal {
  background-color: #fff;
  width: 36rem;
  height: 40rem;
  z-index: 2;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2.5rem;

}

#filter-overlay.closed {
  display: none;
}


#filter-close {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #2c53ff;
  font-weight: bold;
}
#filter-close:hover {
  color: #001987;
}

.filter-timeframe label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.769);
}

.filter-card .fas{
  float: right;
}

/* RATING */


.filter-rating p {
  font-size: 26px;
  font-weight: bold;
}

.filter-rating label {
  font-weight: bold;
 position: relative;
 color: rgba(0, 0, 0, 0.769);
  
}

/*language*/

.filter-language label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.769);
}

/*duration*/

.filter-duration label {
  color: rgba(0, 0, 0, 0.769);
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: auto;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.read {
  /* color: var(--tf-sys-read-more); */
  color: #e76b2d;
  text-decoration: underline;
  font-weight: 700;font-family: nunito;
}