* {
  --tf-primary-main: #e76b2d;
  --tf-primary-dark: #D34E0B;
  --tf-primary-washed: #F2BEA5;
  
  --tf-onprimary-main: #f9f9f8;

  --tf-secondary-main: #f2bf41;
  --tf-secondary-dark: #CF9B1A;
  --tf-secondary-washed: #F0DBA6;

  --tf-onsecondary-main: #012E4A;

  --tf-tertiary-main: #4ca7de;
  --tf-tertiary-dark: #1A7EBB;
  --tf-tertiary-washed: #95C3DF;

  --tf-ontertiary-main: #012E4A;

  --tf-main-main: #012E4A;
  --tf-main-variant: #505050;
  --tf-main-disabled: #C4C4C4;

  --tf-ref-green: #56A359;
  --tf-ref-white-25:#ffffff;

  --tf-background-main: #ffffff;
}





